# see https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
BasedOnStyle: Google
Language: Cpp
Standard: Cpp11

ColumnLimit: 135
SortIncludes: false

AccessModifierOffset: -8
IndentWidth: 8
UseTab: Always

AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: AfterColon
IndentPPDirectives: AfterHash
PointerAlignment: Left
